@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header-top{
    width: 100%;
    height: 2rem;
    background-color: #47225e;
}

.header .row .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .row .col .header-left{
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.header .row .col .header-left a{
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    margin: 2rem;
    text-decoration: none;
}

.header .row .col .header-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:2rem;
}

.header .row .col  .header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.header .row .col .header-middle .phone{
    margin: 0 2rem;
}

.header .row .col .header-middle .phone h6{
    font-size: 1rem;
    font-weight: 800;
}

.header .row .col .header-middle .phone h5{
    font-size: 1.6rem;
    font-weight: 800;
}

.header .row .col .header-middle .btn button{
    height: 4rem;
    width: 11rem;
    font-size: 1.1rem;
    background-color: #ec8f6e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .content h2{
    font-size: 5.2rem;
    font-weight: 600;
    color: #47225e;
    margin-bottom: 3rem;
}

.main .content p{
    font-size: 1.6rem;
    color: #47225e;
    font-weight: 400;
    margin-bottom: 3rem;
}

.main .content a{
    font-size: 1.6rem;
    text-decoration: underline;
    text-decoration-color: #ec8f6e;
    text-underline-offset: 0.7rem;
    text-decoration-thickness: 0.5rem;
    color: #47225e;
    font-weight: 800;
}

.hero-form-inner{
    position: relative;
    margin-top: -60px;
    margin-left: 20%;
    margin-right: 20%;
    /* box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}

.hero-form-inner .container .col-3 .btn{
    background-color: #ec8f6e;
    font-size:1.2rem;
    height: 4rem;
    width:15rem;
    margin-top: 1.2rem;
    border: none;
    border-radius: 0;
}

.hero-form-inner .container label{
    font-size: 1.6rem;
    font-weight: 600;
}

.hero-form-wrapper-menu{
    position: absolute;
    margin-top: -35px;
    padding-left: 20%;
}

.hero-form-wrapper-menu .current{
    background-color: #ec8f6e;
}



footer .footer-content h3{
    font-size: 3.2rem;
    font-weight: 600;
    color: #47225e;
}

footer .footer-content p{
    padding-top: 1rem;
    font-size: 1.4rem;
    color: #47225e;
}

.input-text{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}
.input

